fastapi~=0.115.5
uvicorn==0.32.1
sqlalchemy~=2.0.36
alembic~=1.14.0
bcrypt
python-jose==3.3.0
pydantic~=2.10.1
httpx
python-multipart
python-dotenv
pytest
httpx
passlib~=1.7.4
psycopg2-binary
pandas==2.2.3
numpy===1.26.4
sentence_transformers
openpyxl
pgvector~=0.3.6
psutil
email-validator
argon2_cffi
requests~=2.32.3
starlette~=0.41.3
watchdog
aiokafka